

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model WebBanXeOnline.Models.GioHangViewModel
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/GioHang.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".soluong").change(function () {
            if ($(this).val() > 0) {
                var quanlity = $(this).val();
                var proID = $(this).attr("id");

                $.ajax({
                    url: '@Url.Action("CapNhatSoLuong")',
                    data: { "maSp": proID, "soLuong": quanlity }
                });

                window.location = '/GioHang';
            }

        });
    });
</script>

<div class="container" style="padding: 6em 0px;">
    <div class="content-panel-title">

        <h2>Giỏ hàng </h2>
    </div>
    @if (Model != null && Model.GioHang != null)
    {
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width: 50%">Sản phẩm</th>
                    <th style="width: 10%">Giá</th>
                    <th style="width: 8%">Số lượng</th>
                    <th style="width: 22%" class="text-center">Tổng</th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    double tong = 0;
                }
                @foreach (var item in Model.GioHang.ListItem)
                {
                    tong += item.Tong;
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-2 hidden-xs">
                                    <img src="@item.Anh" alt="..." class="img-responsive" />
                                </div>
                                <div class="col-sm-10">
                                    <h4 class="nomargin">@item.TenSP</h4>

                                </div>
                            </div>
                        </td>
                        <td data-th="Price">@double.Parse(@item.Gia.ToString()).ToString("##,###")</td>
                        <td data-th="Quantity">
                            @*@double.Parse(@item.SoLuong.ToString()).ToString("##,###")*@
                            @InputExtensions.TextBox(Html, "sanpham" + item.MaSP.ToString(), item.SoLuong, new { @class = "form-control text-center soluong", type = "number" })
                        </td>
                        <td data-th="Subtotal" class="text-center">@double.Parse(@item.Gia.ToString()).ToString("##,###")</td>
                        <td class="actions" data-th="">
                            <a href="/GioHang/XoaSanPham/@item.MaSP" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
            <tfoot>
                <tr class="visible-xs">
                    <td class="text-center"><strong> @double.Parse(tong.ToString()).ToString("##,###")</strong></td>
                </tr>
                <tr>
                    <td><a href="/Home/Index" class="btn btn-warning"><i class="fa fa-angle-left"></i> Mua tiếp</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center"><strong>@double.Parse(tong.ToString()).ToString("##,###") VNĐ</strong></td>
                    <td><a href="/GioHang/NhapThongTin" class="btn btn-success btn-block"> Đặt hàng <i class="fa fa-angle-right"></i></a></td>
                </tr>
            </tfoot>
        </table>
    }

</div>

